<header>

<nav>

<ul>

<li><%= link_to "Início", root_path %></li>

<li><%= link_to "Institucional", institucional_path %></li>

<li><%= link_to "Cursos", cursos_path %></li>

<li><%= link_to "Professores", professores_path %></li>

<li><%= link_to "Blog", blog_path %></li>

<li><%= link_to "Contato", contato_path %></li>

</ul>

</nav>

</header>
